In [14]:
import pandas as pd
import numpy as np

In [15]:
a = [[20,50,4], [26,60,5], [30,65,5.5], [40,75,7]]
b = ['Age', 'Weight', 'Height']
A = pd.DataFrame(a, columns = b)
A

   Age  Weight  Height
0   20      50     4.0
1   26      60     5.0
2   30      65     5.5
3   40      75     7.0

In [16]:
100*np.var(A)/sum(np.var(A))

Age       39.136956
Weight    59.997692
Height     0.865351
dtype: float64

**Mean Centering**

In [17]:
M = np.mean(A)

In [18]:
M

Age       29.000
Weight    62.500
Height     5.375
dtype: float64

In [19]:
C  = A-M

In [20]:
C

    Age  Weight  Height
0  -9.0   -12.5  -1.375
1  -3.0    -2.5  -0.375
2   1.0     2.5   0.125
3  11.0    12.5   1.625

In [21]:
C.T

             0      1      2       3
Age     -9.000 -3.000  1.000  11.000
Weight -12.500 -2.500  2.500  12.500
Height  -1.375 -0.375  0.125   1.625

**Covariance Matrix**

In [22]:
help(np.cov)

Help on function cov in module numpy:

cov(m, y=None, rowvar=True, bias=False, ddof=None, fweights=None, aweights=None, *, dtype=None)
    Estimate a covariance matrix, given data and weights.

    Covariance indicates the level to which two variables vary together.
    If we examine N-dimensional samples, :math:`X = [x_1, x_2, ... x_N]^T`,
    then the covariance matrix element :math:`C_{ij}` is the covariance of
    :math:`x_i` and :math:`x_j`. The element :math:`C_{ii}` is the variance
    of :math:`x_i`.

    See the notes for an outline of the algorithm.

    Parameters
    ----------
    m : array_like
        A 1-D or 2-D array containing multiple variables and observations.
        Each row of `m` represents a variable, and each column a single
        observation of all those variables. Also see `rowvar` below.
    y : array_like, optional
        An additional set of variables and observations. `y` has the same form
        as that of `m`.
    rowvar : bool, optional
        If `rowvar` is True (default), then each row represents a
        variable, with observations in the columns. Otherwise, the relationship
        is transposed: each column represents a variable, while the rows
        contain observations.
    bias : bool, optional
        Default normalization (False) is by ``(N - 1)``, where ``N`` is the
        number of observations given (unbiased estimate). If `bias` is True,
        then normalization is by ``N``. These values can be overridden by using
        the keyword ``ddof`` in numpy versions >= 1.5.
    ddof : int, optional
        If not ``None`` the default value implied by `bias` is overridden.
        Note that ``ddof=1`` will return the unbiased estimate, even if both
        `fweights` and `aweights` are specified, and ``ddof=0`` will return
        the simple average. See the notes for the details. The default value
        is ``None``.

        .. versionadded:: 1.5
    fweights : array_like, int, optional
        1-D array of integer frequency weights; the number of times each
        observation vector should be repeated.

        .. versionadded:: 1.10
    aweights : array_like, optional
        1-D array of observation vector weights. These relative weights are
        typically large for observations considered "important" and smaller for
        observations considered less "important". If ``ddof=0`` the array of
        weights can be used to assign probabilities to observation vectors.

        .. versionadded:: 1.10
    dtype : data-type, optional
        Data-type of the result. By default, the return data-type will have
        at least `numpy.float64` precision.

        .. versionadded:: 1.20

    Returns
    -------
    out : ndarray
        The covariance matrix of the variables.

    See Also
    --------
    corrcoef : Normalized covariance matrix

    Notes
    -----
    Assume that the observations are in the columns of the observation
    array `m` and let ``f = fweights`` and ``a = aweights`` for brevity. The
    steps to compute the weighted covariance are as follows::

        >>> m = np.arange(10, dtype=np.float64)
        >>> f = np.arange(10) * 2
        >>> a = np.arange(10) ** 2.
        >>> ddof = 1
        >>> w = f * a
        >>> v1 = np.sum(w)
        >>> v2 = np.sum(w * a)
        >>> m -= np.sum(m * w, axis=None, keepdims=True) / v1
        >>> cov = np.dot(m * w, m.T) * v1 / (v1**2 - ddof * v2)

    Note that when ``a == 1``, the normalization factor
    ``v1 / (v1**2 - ddof * v2)`` goes over to ``1 / (np.sum(f) - ddof)``
    as it should.

    Examples
    --------
    Consider two variables, :math:`x_0` and :math:`x_1`, which
    correlate perfectly, but in opposite directions:

    >>> x = np.array([[0, 2], [1, 1], [2, 0]]).T
    >>> x
    array([[0, 1, 2],
           [2, 1, 0]])

    Note how :math:`x_0` increases while :math:`x_1` decreases. The covariance
    matrix shows this clearly:

    >>> np.cov(x)
    array([[ 1., -1.],
           [-1.,  1.]])

    Note that element :math:`C_{0,1}`, which shows the correlation between
    :math:`x_0` and :math:`x_1`, is negative.

    Further, note how `x` and `y` are combined:

    >>> x = [-2.1, -1,  4.3]
    >>> y = [3,  1.1,  0.12]
    >>> X = np.stack((x, y), axis=0)
    >>> np.cov(X)
    array([[11.71      , -4.286     ], # may vary
           [-4.286     ,  2.144133]])
    >>> np.cov(x, y)
    array([[11.71      , -4.286     ], # may vary
           [-4.286     ,  2.144133]])
    >>> np.cov(x)
    array(11.71)

In [23]:
V = np.cov(C.T)

In [24]:
V

array([[ 70.66666667,  86.66666667,  10.5       ],
       [ 86.66666667, 108.33333333,  12.91666667],
       [ 10.5       ,  12.91666667,   1.5625    ]])

In [25]:
evalue, B = np.linalg.eig(V)

In [26]:
B

array([[-0.62486143, -0.77080323, -0.12413931],
       [-0.77517499,  0.63146152, -0.01897568],
       [-0.09301572, -0.08437252,  0.99208334]])

In [27]:
Binv = np.linalg.inv(B)

In [28]:
Binv

array([[-0.62486143, -0.77517499, -0.09301572],
       [-0.77080323,  0.63146152, -0.08437252],
       [-0.12413931, -0.01897568,  0.99208334]])

In [29]:
C

    Age  Weight  Height
0  -9.0   -12.5  -1.375
1  -3.0    -2.5  -0.375
2   1.0     2.5   0.125
3  11.0    12.5   1.625

Binv: 3*3
r1: 4*3
r1.T: 3*4

In [30]:
r1 = Binv@C.T

In [31]:
Anew = r1.T

In [32]:
Anew

           0         1         2
0  15.441337 -0.840028 -0.009665
1   3.847403  0.765396  0.047826
2  -2.574426  0.797304 -0.047568
3 -16.714314 -0.722672  0.009407

In [33]:
Anew.columns = ['PC1', 'PC2', 'PC3']

In [34]:
Anew

         PC1       PC2       PC3
0  15.441337 -0.840028 -0.009665
1   3.847403  0.765396  0.047826
2  -2.574426  0.797304 -0.047568
3 -16.714314 -0.722672  0.009407

In [35]:
100*np.var(Anew)/sum(np.var(Anew))

PC1    99.546942
PC2     0.452184
PC3     0.000874
dtype: float64