## **pandas** 
- types - integer, float, object
- df[condition]: Filter
- df.loc[]
    - Access values using row/column labels. 
    - Access by giving condition, Filter
- df.iloc[]: Access values using row/column indices. No condition
- set_index : Make a column as a index
- reset_index : Get back the default index
- group & aggregate:
    - df.groupby(by=['col1','col2']).agg({'col1':np.mean, 'col2':np.mean})
- value_counts()
- apply(): Change the values. axis here is confusing.
- DateTimeIndex
- axis
- merge:
    - dataframe_1.merge(dataframe_2, on = ['column_1', 'column_2'], how = 'left|right|inner|outer')
- concatenation:dataframes with the same columns and want to stack them on top of each other, or with the same rows and want to append them side by side.
    - pd.concat([dataframe_1, dataframe_2], axis = _)
- pivot_table is a generalization of pivot that can handle duplicate values for one pivoted index/column pair. Specifically, you can give pivot_table a list of aggregation functions using keyword argument aggfunc. The default aggfunc of pivot_table is numpy.mean.
- pivot_table also supports using multiple columns for the index and column of the pivoted table. A hierarchical index will be automatically generated for you.
    - df.pivot(columns='grouping_variable_col', values='value_to_aggregate', index='grouping_variable_row')
    - df.pivot_table(values, index, aggfunc={'value_1': np.mean,'value_2': [min, max, np.mean]})

In [ ]:
import pandas as pd

In [5]:
df1 = pd.DataFrame(data={"A":[1, 2, 3], "B":[4, 5, 6] , "C":[7, 8, 9]})
df2 = pd.DataFrame(data={"A":[1, 2, 3], "B":[4, 5, 6] , "C":[7, 8, 9]})

In [6]:
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
df2

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
pd.concat([df1, df2])

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
pd.concat([df1, df2], ignore_index=True)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
3  1  4  7
4  2  5  8
5  3  6  9