## Practice Exercise 2

In this assignment, you will try to find some interesting insights into a few movies released between 1916 and 2016, using Python. You will have to download a movie dataset, write Python code to explore the data, gain insights into the movies, actors, directors, and collections, and submit the code.

#### Some tips before starting the assignment

1. Identify the task to be performed correctly, and only then proceed to write the required code. Don’t perform any incorrect analysis or look for information that isn’t required for the assignment.
2. In some cases, the variable names have already been assigned, and you just need to write code against them. In other cases, the names to be given are mentioned in the instructions. We strongly advise you to use the mentioned names only.
3. Always keep inspecting your data frame after you have performed a particular set of operations.
4. There are some checkpoints given in the IPython notebook provided. They're just useful pieces of information you can use to check if the result you have obtained after performing a particular task is correct or not.
5. Note that you will be asked to refer to documentation for solving some of the questions. That is done on purpose for you to learn new commands and also how to use the documentation.

In [1]:
# Import the numpy and pandas packages

#import numpy as np
import pandas as pd

### Task 1: Reading and Inspection

**Subtask 1.1: Import and read**

Import and read the movie database. Store it in a variable called `movies`.

In [2]:
# Write your code for importing the csv file here
movies = pd.read_csv("Data/Movies.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
3849,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
3850,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
3851,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
3852,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

**Subtask 1.2: Inspect the dataframe**

Inspect the dataframe's columns, shapes, variable types etc.

In [3]:
# Write your code for inspection here
print(movies.columns, movies.shape, "\n", movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3853 entries, 0 to 3852
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      3851 non-null   object
 1   director_name              3853 non-null   object
 2   num_critic_for_reviews     3852 non-null   float64
 3   duration                   3852 non-null   float64
 4   director_facebook_likes    3853 non-null   float64
 5   actor_3_facebook_likes     3847 non-null   float64
 6   actor_2_name               3852 non-null   object
 7   actor_1_facebook_likes     3853 non-null   float64
 8   gross                      3853 non-null   float64
 9   genres                     3853 non-null   object
 10  actor_1_name               3853 non-null   object
 11  movie_title                3853 non-null   object
 12  num_voted_users            3853 non-null   int64
 13  cast_total_facebook_likes  3853 non-null   int64
 14  actor_3_name               3847 non-null   object
 15  facenumber_in_poster       3847 non-null   float64
 16  plot_keywords              3823 non-null   object
 17  movie_imdb_link            3853 non-null   object
 18  num_user_for_reviews       3853 non-null   float64
 19  language                   3850 non-null   object
 20  country                    3853 non-null   object
 21  content_rating             3805 non-null   object
 22  budget                     3853 non-null   float64
 23  title_year                 3853 non-null   float64
 24  actor_2_facebook_likes     3852 non-null   float64
 25  imdb_score                 3853 non-null   float64
 26  aspect_ratio               3781 non-null   float64
 27  movie_facebook_likes       3853 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 843.0+ KB
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object') (3853, 28)
 None

#### <font color='red'>Question 1: How many rows and columns are present in the dataframe? </font>
-  <font color='red'>(3821, 26)</font>
-  <font color='red'>(3879, 28)</font>
-  <font color='red'>(3853, 28)</font>
-  <font color='red'>(3866, 26)</font>

#### <font color='red'>Question 2: How many columns have null values present in them? Try writing a code for this instead of counting them manually.</font>

-  <font color='red'>3</font>
-  <font color='red'>6</font>
-  <font color='red'>9</font>
-  <font color='red'>12</font>

In [8]:
len(movies.columns[movies.isna().any()].tolist())

12

### Task 2: Cleaning the Data

**Subtask 2.1: Drop unecessary columns**

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [9]:
# Check the 'drop' function in the Pandas library - dataframe.drop(list_of_unnecessary_columns, axis = )
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations

movies = movies.drop(['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes',
                        'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 
                        'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords' ],axis=1)
len(movies.columns.tolist())

13

#### <font color='red'>Question 3: What is the count of columns in the new dataframe? </font>
-  <font color='red'>10</font>
-  <font color='red'>13</font>
-  <font color='red'>15</font>
-  <font color='red'>17</font>

**Subtask 2.2: Inspect Null values**

As you have seen above, there are null values in multiple columns of the dataframe 'movies'. Find out the percentage of null values in each column of the dataframe 'movies'.

In [16]:
# Write you code here
movies.isna().sum()

director_name             0
num_critic_for_reviews    1
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  3
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
dtype: int64

#### <font color='red'>Question 4: Which column has the highest percentage of null values? </font>
-  <font color='red'>language</font>
-  <font color='red'>genres</font>
-  <font color='red'>num_critic_for_reviews</font>
-  <font color='red'>imdb_score</font>

**Subtask 2.3: Fill NaN values**

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [19]:
# Write your code for filling the NaN values in the 'language' column here
import numpy as np
print("Before:", movies[movies['language'] == 'English'].shape)
movies['language'] = movies['language'].replace(np.nan,'English')
print("After:", movies[movies['language'] == 'English'].shape)

Before: (3671, 13)
After: (3674, 13)

#### <font color='red'>Question 5: What is the count of movies made in English language after replacing the NaN values with English? </font>
-  <font color='red'>3670</font>
-  <font color='red'>3674</font>
-  <font color='red'>3668</font>
-  <font color='red'>3672</font>

### Task 3: Data Analysis

**Subtask 3.1: Change the unit of columns**

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [23]:
# Write your code for unit conversion here
movies[['budget','gross']] = movies[['budget','gross']] / 1000000
movies[['budget','gross']]

            budget         gross
0     2.370000e-04  7.605058e-04
1     3.000000e-04  3.094042e-04
2     2.450000e-04  2.000742e-04
3     2.500000e-04  4.481306e-04
4     2.637000e-04  7.305868e-05
...            ...           ...
3848  7.000000e-09  4.247600e-07
3849  7.000000e-09  7.007100e-08
3850  7.000000e-09  2.040920e-06
3851  9.000000e-09  4.584000e-09
3852  1.100000e-09  8.522200e-08

[3853 rows x 2 columns]

**Subtask 3.2: Find the movies with highest profit**

   1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
   2. Sort the dataframe using the `profit` column as reference. (Find which command can be used here to sort entries from the documentation)
   3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [26]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']
movies = movies.sort_values(by=['profit'], ascending=False)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,0.000761,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,0.000237,2009.0,7.9,33000,0.000524
28,Colin Trevorrow,644.0,0.000652,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,0.000150,2015.0,7.0,150000,0.000502
25,James Cameron,315.0,0.000659,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,0.000200,1997.0,7.7,26000,0.000459
2704,George Lucas,282.0,0.000461,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,0.000011,1977.0,8.7,33000,0.000450
2748,Steven Spielberg,215.0,0.000435,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,0.000010,1982.0,7.9,34000,0.000424

In [ ]:
# Write your code for sorting the dataframe here

In [ ]:
top10 = # Write your code to get the top 10 profiting movies here

**Checkpoint:** You might spot two movies directed by `James Cameron` in the list.

#### <font color='red'>Question 6: Which movie is ranked 5th from the top in the list obtained? </font>
-  <font color='red'>E.T. the Extra-Terrestrial</font>
-  <font color='red'>The Avengers</font>
-  <font color='red'>The Dark Knight</font>
-  <font color='red'>Titanic</font>

**Subtask 3.3: Find IMDb Top 250**

Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000. 

Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.

In [36]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies.sort_values(by="imdb_score", ascending=False).reset_index()
IMDb_Top_250 = IMDb_Top_250.iloc[:250,:]
IMDb_Top_250['Rank'] = IMDb_Top_250.index + 1
IMDb_Top_250

,index,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,Rank
0,1795,Frank Darabont,199.0,2.834147e-05,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,0.000025,1994.0,9.3,108000,0.000003,1
1,3016,Francis Ford Coppola,208.0,1.348220e-04,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,0.000006,1972.0,9.2,43000,0.000129,2
2,64,Christopher Nolan,645.0,5.333161e-04,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,0.000185,2008.0,9.0,37000,0.000348,3
3,2543,Francis Ford Coppola,149.0,5.730000e-05,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,0.000013,1974.0,9.0,14000,0.000044,4
4,3607,Sergio Leone,181.0,6.100000e-06,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,0.000001,1966.0,8.9,20000,0.000005,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,0,James Cameron,723.0,7.605058e-04,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,0.000237,2009.0,7.9,33000,0.000524,246
246,339,John Lasseter,191.0,2.458234e-04,Adventure|Animation|Comedy|Family|Fantasy,Tom Hanks,Toy Story 2,385871,515.0,English,0.000090,1999.0,7.9,0,0.000156,247
247,67,Jon Favreau,486.0,3.182982e-04,Action|Adventure|Sci-Fi,Robert Downey Jr.,Iron Man,696338,1055.0,English,0.000140,2008.0,7.9,10000,0.000178,248
248,1502,Nick Cassavetes,177.0,6.428600e-08,Drama|Romance,Ryan Gosling,The Notebook,396396,1111.0,English,0.000029,2004.0,7.9,57000,-0.000029,249
249,95,Peter Jackson,645.0,3.030012e-04,Adventure|Fantasy,Aidan Turner,The Hobbit: An Unexpected Journey,637246,1367.0,English,0.000180,2012.0,7.9,166000,0.000123,250

In [39]:
bins = [7, 7.5, 8, 8.5, 9, 9.5, 10 ]
s = pd.cut(IMDb_Top_250['imdb_score'], bins=bins).value_counts()
s

(8.0, 8.5]     132
(7.5, 8.0]      90
(8.5, 9.0]      26
(9.0, 9.5]       2
(7.0, 7.5]       0
(9.5, 10.0]      0
Name: imdb_score, dtype: int64

#### <font color='red'>Question 7: Suppose movies are divided into 5 buckets based on the IMDb ratings: </font>
-  <font color='red'>7.5 to 8</font>
-  <font color='red'>8 to 8.5</font>
-  <font color='red'>8.5 to 9</font>
-  <font color='red'>9 to 9.5</font>
-  <font color='red'>9.5 to 10</font>

<font color = 'red'> Which bucket holds the maximum number of movies from *IMDb_Top_250*? </font>

**Subtask 3.4: Find the critic-favorite and audience-favorite actors**

   1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
   2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
   3. Group the combined dataframe using the `actor_1_name` column.
   4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [40]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies[movies['actor_1_name']=='Meryl Streep'] # Include all movies in which Meryl_Streep is the lead

In [48]:
Leo_Caprio = movies[movies['actor_1_name']=='Leonardo DiCaprio'] # Include all movies in which Leo_Caprio is the lead

In [49]:
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
25,James Cameron,315.0,0.000659,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,0.000200,1997.0,7.7,26000,0.000459
94,Christopher Nolan,642.0,0.000293,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,0.000160,2010.0,8.8,175000,0.000133
859,Steven Spielberg,194.0,0.000164,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,0.000052,2002.0,8.0,15000,0.000112
283,Quentin Tarantino,765.0,0.000163,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,0.000100,2012.0,8.5,199000,0.000063
173,Alejandro G. Iñárritu,556.0,0.000184,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,0.000135,2015.0,8.1,190000,0.000049
431,Martin Scorsese,490.0,0.000128,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,0.000080,2010.0,8.1,53000,0.000048
347,Martin Scorsese,352.0,0.000132,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,0.000090,2006.0,8.5,29000,0.000042
49,Baz Luhrmann,490.0,0.000145,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,0.000105,2013.0,7.3,115000,0.000040
3025,Baz Luhrmann,490.0,0.000145,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,0.000105,2013.0,7.3,115000,0.000040
2484,Baz Luhrmann,106.0,0.000046,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,0.000015,1996.0,6.8,10000,0.000032
1336,Randall Wallace,83.0,0.000057,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,0.000035,1998.0,6.4,0,0.000022
294,Martin Scorsese,606.0,0.000117,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,0.000100,2013.0,8.2,138000,0.000017
1364,Clint Eastwood,392.0,0.000037,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,0.000035,2011.0,6.6,16000,0.000002
246,Martin Scorsese,267.0,0.000103,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,0.000110,2004.0,7.5,0,-0.000007
1909,Jerry Zaks,45.0,0.000013,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,0.000023,1996.0,6.7,1000,-0.000010
934,Danny Boyle,118.0,0.000040,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,0.000050,2000.0,6.6,0,-0.000010
1046,Sam Mendes,323.0,0.000023,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,0.000035,2008.0,7.3,0,-0.000012
1457,Sam Raimi,63.0,0.000019,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,0.000032,1995.0,6.4,0,-0.000013
312,Martin Scorsese,233.0,0.000078,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,0.000100,2002.0,7.5,0,-0.000022
608,Ridley Scott,238.0,0.000039,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,0.000070,2008.0,7.1,0,-0.000031
293,Edward Zwick,166.0,0.000057,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,0.000100,2006.0,8.0,14000,-0.000043

In [43]:
Brad_Pitt = movies[movies['actor_1_name']=='Brad Pitt'] # Include all movies in which Brad_Pitt is the lead

In [55]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])
Combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
1322,David Frankel,208.0,1.247330e-04,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,0.000035,2006.0,6.8,0,8.973296e-05
1471,Sydney Pollack,66.0,8.710000e-05,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,0.000031,1985.0,7.2,0,5.610000e-05
1132,Nora Ephron,252.0,9.412543e-05,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,0.000040,2009.0,7.0,13000,5.412543e-05
1514,David Frankel,234.0,6.353601e-05,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,0.000030,2012.0,6.3,0,3.353601e-05
392,Nancy Meyers,187.0,1.127035e-04,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,0.000085,2009.0,6.6,0,2.770347e-05
2500,Phyllida Lloyd,331.0,2.995944e-05,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,0.000013,2011.0,6.4,18000,1.695944e-05
1784,Stephen Daldry,174.0,4.159783e-05,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,0.000025,2002.0,7.6,0,1.659783e-05
2793,Robert Altman,211.0,2.033861e-05,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,0.000010,2006.0,6.8,683,1.033861e-05
1038,Curtis Hanson,42.0,4.681575e-05,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,0.000045,1994.0,6.3,0,1.815748e-06
1563,Carl Franklin,64.0,2.320944e-05,Drama,Meryl Streep,One True Thing,9283,112.0,English,0.000030,1998.0,7.0,592,-6.790560e-06
1390,Robert Redford,227.0,1.499807e-05,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,0.000035,2007.0,6.2,0,-2.000193e-05
25,James Cameron,315.0,6.586723e-04,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,0.000200,1997.0,7.7,26000,4.586723e-04
94,Christopher Nolan,642.0,2.925689e-04,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,0.000160,2010.0,8.8,175000,1.325689e-04
859,Steven Spielberg,194.0,1.644352e-04,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,0.000052,2002.0,8.0,15000,1.124352e-04
283,Quentin Tarantino,765.0,1.628046e-04,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,0.000100,2012.0,8.5,199000,6.280465e-05
173,Alejandro G. Iñárritu,556.0,1.836359e-04,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,0.000135,2015.0,8.1,190000,4.863592e-05
431,Martin Scorsese,490.0,1.279684e-04,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,0.000080,2010.0,8.1,53000,4.796841e-05
347,Martin Scorsese,352.0,1.323734e-04,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,0.000090,2006.0,8.5,29000,4.237344e-05
49,Baz Luhrmann,490.0,1.448128e-04,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,0.000105,2013.0,7.3,115000,3.981280e-05
3025,Baz Luhrmann,490.0,1.448128e-04,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,0.000105,2013.0,7.3,115000,3.981280e-05
2484,Baz Luhrmann,106.0,4.633873e-05,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,0.000015,1996.0,6.8,10000,3.183873e-05
1336,Randall Wallace,83.0,5.687637e-05,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,0.000035,1998.0,6.4,0,2.187637e-05
294,Martin Scorsese,606.0,1.168667e-04,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,0.000100,2013.0,8.2,138000,1.686673e-05
1364,Clint Eastwood,392.0,3.730495e-05,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,0.000035,2011.0,6.6,16000,2.304950e-06
246,Martin Scorsese,267.0,1.026088e-04,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,0.000110,2004.0,7.5,0,-7.391173e-06
1909,Jerry Zaks,45.0,1.278251e-05,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,0.000023,1996.0,6.7,1000,-1.021749e-05
934,Danny Boyle,118.0,3.977860e-05,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,0.000050,2000.0,6.6,0,-1.022140e-05
1046,Sam Mendes,323.0,2.287781e-05,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,0.000035,2008.0,7.3,0,-1.212219e-05
1457,Sam Raimi,63.0,1.863654e-05,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,0.000032,1995.0,6.4,0,-1.336346e-05
312,Martin Scorsese,233.0,7.767964e-05,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,0.000100,2002.0,7.5,0,-2.232036e-05
608,Ridley Scott,238.0,3.938044e-05,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,0.000070,2008.0,7.1,0,-3.061956e-05
293,Edward Zwick,166.0,5.736626e-05,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,0.000100,2006.0,8.0,14000,-4.263374e-05
383,Steven Soderbergh,186.0,1.834058e-04,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,0.000085,2001.0,7.8,0,9.840577e-05
244,Doug Liman,233.0,1.863361e-04,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,0.000120,2005.0,6.5,0,6.633610e-05
887,Neil Jordan,120.0,1.052646e-04,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,0.000060,1994.0,7.6,11000,4.526461e-05
448,David Ayer,406.0,8.570712e-05,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,0.000068,2014.0,7.6,82000,1.770712e-05
243,Steven Soderbergh,198.0,1.255316e-04,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,0.000110,2004.0,6.4,0,1.553163e-05
2030,Alejandro G. Iñárritu,285.0,3.430077e-05,Drama,Brad Pitt,Babel,243799,908.0,English,0.000025,2006.0,7.5,0,9.300771e-06
2428,Andrew Dominik,414.0,1.493857e-05,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,0.000015,2012.0,6.2,20000,-6.143000e-08
2602,Tony Scott,122.0,1.228150e-05,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,0.000013,1993.0,8.0,15000,-7.185000e-07
2146,Angelina Jolie Pitt,131.0,5.310090e-07,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,0.000010,2015.0,5.3,0,-9.468991e-06
1397,Terrence Malick,584.0,1.330332e-05,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,0.000032,2011.0,6.7,39000,-1.869668e-05
97,David Fincher,362.0,1.274908e-04,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,0.000150,2008.0,7.8,23000,-2.250920e-05
646,David Fincher,315.0,3.702340e-05,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,0.000063,1999.0,8.8,48000,-2.597660e-05
1608,Andrew Dominik,273.0,3.904982e-06,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,0.000030,2007.0,7.5,0,-2.609502e-05
579,Jean-Jacques Annaud,76.0,3.790151e-05,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,0.000070,1997.0,7.0,0,-3.209849e-05
749,Patrick Gilmore,98.0,2.628832e-05,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,0.000060,2003.0,6.7,880,-3.371168e-05
142,Wolfgang Petersen,220.0,1.332283e-04,Adventure,Brad Pitt,Troy,381672,1694.0,English,0.000175,2004.0,7.2,0,-4.177165e-05
367,Tony Scott,142.0,2.687100e-08,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,0.000092,2001.0,7.0,0,-9.197313e-05

In [57]:
# Write your code for grouping the combined dataframe here
Combined = Combined.groupby("actor_1_name")['num_critic_for_reviews', 'num_user_for_reviews'].mean()
Combined.sort_values(by='num_user_for_reviews', ascending=False)

ipykernel_launcher:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Leonardo DiCaprio              330.190476            914.476190
Brad Pitt                      245.000000            742.352941
Meryl Streep                   181.454545            297.181818

In [58]:
# Write the code for finding the mean of critic reviews and audience reviews here
Combined.sort_values(by='num_critic_for_reviews', ascending=False)

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Leonardo DiCaprio              330.190476            914.476190
Brad Pitt                      245.000000            742.352941
Meryl Streep                   181.454545            297.181818

#### <font color='red'>Question 8: Which actor is highest rated among the three actors according to the user reviews? </font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

#### <font color='red'>Question 9: Which actor is highest rated among the three actors according to the critics?</font>
-  <font color='red'>Meryl Streep</font>
-  <font color='red'>Leonardo DiCaprio</font>
-  <font color='red'>Brad Pitt</font>

In [62]:
df = movies

In [ ]:
df.drop(columns=[])